.container56 {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h2 {
    text-align: center;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #555555;
    margin-bottom: 8px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="password"]:focus,
  .form-group input[type="number"]:focus {
    border-color: #007bff;
  }
  
  .radio-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
  }
  
  .radio-group label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #45a049;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  .radio-group input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#4CAF50;
  }
  
  .error-msg {
    color: red;
    margin-top: 10px;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    background-color:#4CAF50;
    color: #ffffff;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #45a049;
  }
  
  .btn-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .btn-link:hover {
    color: #0056b3;
  }