
body {
  font-family: "Poppins";
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.navbar1 {
  font-size: 14vh;
  font-weight: 500;
}
/*navbar make changes */
.navbar1 img {
  border-radius: 5vh;
  padding: 0.5vh;
}
.Footer12 {
  padding: 5vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

/* menun card  */
.partb2{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.partb2 > * {
  margin: 3vh;
}

.card img {
  border-radius: 2.5vh;
  padding: 5px;
}

.card button:hover {
  font-size: 2.5vh;
  background-color: #333;
  color: #fff;
  transition: 0.30s;
}

.cardbtn button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card button:hover {
  font-size: 2.5vh;
  background-color: #333;
  color: #fff;
  transition: 0.30s;
}
.menupage{
  background-color: #59ac1ab5;
}
@media screen and (min-width: 325px) and (max-width: 500px) {
  body {
    background-color: #f0f0f0;
    overflow-x: hidden;
  }
  .Footer12 {
  }
  .partb1 {
    margin: 3vh;
  }
  .navbtn button {
    margin-right: 2vh;
  }

}